<form class="" action="/animals/new" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="gender" placeholder="gender">
  <input type="text" name="type" placeholder="type">
  <input type="text" name="breed" placeholder="breed">
  <button type="submit">Add Animal</button>
</form>
