<form class="" action="/customers/new" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="phone" placeholder="phone">
  <input type="text" name="types_preference" placeholder="types_preference">
  <input type="text" name="breed_preference" placeholder="breed_preference">
  <button type="submit">Add Customer</button>
</form>
